/* Page layout */
body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main container */
.container {
    background: rgb(141, 137, 137);
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Title */
h1 {
    text-align: center;
}

/* Input area */
form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Button */
button {
    padding: 8px 12px;
    background: #383f38;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/*  Button hover */
button:hover {
    background: #45a049;
}


/* Task list */
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}