<!DOCTYPE html>
<html>
<head>
    <title>TDL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>

<body>

<div class="container">
<!-- <h2>To Do List</h2> -->

<div class="empty-state">
    <h2>To Do List</h2>
</div>
<p style="text-align:center;">
    Welcome, {{ session['username'] }} 👋
</p>

<form action="/add" method="POST">
    <input type="text" name="task" placeholder="Enter new task" required>
    <button type="submit">Add</button>
</form>
<a href="/dashboard">
    <button>Dashboard</button>
</a>
<a href="/profile">
    <button>Profile</button>
</a>
<a href="/logout" onclick="return confirm('Are you sure you want to logout?')">
    <button>Logout</button>
</a>
<br>
{% if tasks|length == 0 %}

    <div class="empty-state">
        <p>No tasks yet 🚀</p>
    </div>

{% else %}

<table border="1">

<tr>
    <th>S.No</th>
    <th>Work</th>
    <th>Date</th>
    <th>Status</th>
    <th>Delete</th>
    <th>Done</th>
</tr>

{% for task in tasks %}

<tr>
    <td>{{loop.index}}</td>
    <td>{{task[1]}}</td>
    <td>
        {{ task[2].split(' ')[0] }}<br>
        {{ task[2].split(' ')[1][:5] }}
    </td>
    <td class="{{ 'done' if task[3]|trim|lower == 'done' else 'pending' }}">
        {{task[3]}}
    </td>

    <td>
        <form action="/delete/{{task[0]}}" method="POST">
            <button type="submit">Delete</button>
        </form>
    </td>

    <td>
        <form action="/done/{{task[0]}}" method="POST">
            <button type="submit"
                {% if task[3]|trim|lower == 'done' %}
                    disabled
                    style="background:#777; cursor:not-allowed;"
                {% endif %}>
                    Done
            </button>
        </form>
    </td>

</tr>

{% endfor %}

</table>

{% endif %} 

<form action="/clear" method="POST" onsubmit="return confirm('Clear entire table?');">
    <button type="submit">Clear</button>
</form>

</div>

</body>
</html>
